# dependencies
/node_modules
/.pnpm
/.yarn

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.production
.env.staging

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# framer extracted raw zip
a13aa026-f0b2-43fa-8c44-8b41defdf60b.zip
framer_export/
